*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    display: block;
    color: red;
}

a{
 width: 400px;
 margin: 40px;
 display: inline;
}

.image{
 border: 5px solid green;
 border-radius: 20px;
 display: none;
}


ul{
    list-style: none;
    text-align: end;
    padding: 30px;
    background-color: black;
    color: white;
}

li{  
    display: inline;
    padding: 40px;
}
li:hover{
    color: violet;
    cursor: pointer;
}